<div class="container">
    <div class="nut-slider">
        <div class="nut-slider__item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.
        </div>
        <div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div>
        <div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div><div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div><div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div><div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div><div class="nut-slider__item">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam.</span>
        </div>
    </div>
</div>
