*,*:before,*:after {
	box-sizing: border-box;
}

.container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	//background-image: url("./images/steelnut.png");
	//	background-repeat: no-repeat;
	//	background-size: 100% 100%;
	//border: 5px solid rgba(0,0,0,0.75);
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.75);
}

.nut-slider {
	//transform: rotate(90deg);
	.nut-slider__item {
		//width: 200px;
		height: 90px;
		//background-color: green;
		border-bottom: 1px solid black;
		//margin-right: 20px;
		//margin-left: 20px;
		padding: 10px;
	}
	.slick-slide{
		border: none !important;
		transition: 0.5s;
		position: relative;
		opacity: 0;
		//&:after {
		//	bottom: -9px;
		//	top: unset;
		//}
		&.nut-slider__animated{
			background-color: darkgreen;
		}
	}
	.slick-slide:not(.slick-active) {
		//transform: perspective(1000px)  rotateX(45deg) translateY(10px) scale(0.97);
		//opacity: 0.8;
		//&:after {
		//	content: '';
		//	border-width: 27px 19px;
		//	border-style: solid;
		//	border-color: transparent rgba(145, 138,138, 1) transparent rgba(145, 138,138, 1);
		//	display: block;
		//	bottom: -26px;
		//	position: absolute;
		//	height: 10px;
		//	left: 0px;
		//	width: 100%;
		//}
	}
	.slick-active {
		//transform: perspective(1000px);
		opacity: 1;
	}
	.slick-active ~ .slick-slide {
		//transform: perspective(1000px) rotateX(-45deg) translateY(-10px) scale(0.97);
		//opacity: 0.8;
		//&:before {
		//	content: '';
		//	border-width: 27px 19px;
		//	border-style: solid;
		//	border-color: transparent rgba(145, 138,138, 1) transparent rgba(145, 138,138, 1);
		//	display: block;
		//	top: -35px;
		//	position: absolute;
		//	height: 10px;
		//	//left: -1;
		//	//right: -1;
		//	width: 100%;
		//}
	}
	.nut-slider__second {
		transform: perspective(1000px);
		opacity: 1;
	}
	.nut-slider__first{
		transform: perspective(1000px)  rotateX(45deg) translateY(10px) scale(0.97);
		opacity: 1;
		&:after {
			content: '';
			border-width: 27px 19px;
			border-style: solid;
			border-color: transparent rgba(145, 138,138, 1) transparent rgba(145, 138,138, 1);
			display: block;
			bottom: -26px;
			position: absolute;
			height: 10px;
			left: 0px;
			width: 100%;
		}
		&.slick-center{
			transform: perspective(1000px);
		}
	}
	.nut-slider__third{
		transform: perspective(1000px) rotateX(-45deg) translateY(-10px) scale(0.97);
		//transform: perspective(1000px)  rotateX(45deg) translateY(10px) scale(0.97);
		opacity: 1;
		&:before {
			content: '';
			border-width: 27px 19px;
			border-style: solid;
			border-color: transparent rgba(145, 138,138, 1) transparent rgba(145, 138,138, 1);
			display: block;
			top: -35px;
			position: absolute;
			height: 10px;
			//left: -1;
			//right: -1;
			width: 100%;
		}
	}
}
