*,*:before,*:after {
	box-sizing: border-box;
}

.container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url("./images/steelnut.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nut-slider {
	//transform: rotate(90deg);
	.nut-slider__item {
		//width: 200px;
		height: 90px;
		//background-color: green;
		border-bottom: 1px solid black;
		//margin-right: 20px;
		//margin-left: 20px;
		padding: 10px;
	}
	.slick-slide{
		border: none;
		transition: 0.5s;
		//padding-left: 20px;
		//padding-right: 20px;
	}
	.slick-slide:not(.slick-center) {
		transform: perspective(1000px)  rotateX(45deg) translateY(0);
		opacity: 0.8;
		.nut-slider__item {
			//transform: skewX(-13deg);
		}
	}
	.slick-center {
		transform: perspective(1000px);
		//padding-left: 0px;
		//padding-right: 10px;
	}
	.slick-center + .slick-slide {
		transform: perspective(1000px) rotateX(-45deg) translateY(0);
		opacity: 0.8;
		.nut-slider__item {
			//transform: skewX(13deg);
		}
	}
}
